<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class="label">
      <%= form.label 'Nombre' %>
    </label>
    <%= form.text_field :name , class: 'input' %>  
  </div>

  <div class="field">
    <label class="label">
      <%= form.label 'Descripción' %>
    </label>
    <%= form.text_area :description, class: 'input' %>
  </div>


  <div class="field">
    <%= form.label 'Imagen', class: 'label' %>
    <div class="file">
      <label class="file-label">
        <%= form.file_field :image, class: 'file-input' %>
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Seleccionar archivo…
          </span>
        </span>
      </label>
    </div>
  </div>


  <div class="actions">
    <%= form.submit movie.new_record? ? 'Crear película' : 'Editar película', class: 'button is-primary'%>
  </div>
<% end %>
