<%= form_for @movie_ticket, url:url, method:method do |form| %>
  <% if @movie_ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie_ticket.errors.count, "error") %> prohibited this movie_ticket from being saved:</h2>

      <ul>
        <% @movie_ticket.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label class="label">
      <%= form.label 'Fila' %>
    </label>
    <div class="select">
      <%= form.select(:row, ['A', 'B', 'C', 'D']) %>
    </div>
  </div>

  <div class="field">
    <label class="label">
      <%= form.label 'Columna' %>
    </label>
    <div class="select">
      <%= form.select(:column, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]) %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit method == :post ? 'Comprar entrada' : 'Editar entrada', class: 'button' %>
  </div>
<% end %>
