<p id="notice"><%= notice %></p>

<p>
  <strong>Show time:</strong>
  <%= @movie_ticket.show_time_id %>
</p>

<p>
  <strong>Row:</strong>
  <%= @movie_ticket.row %>
</p>

<p>
  <strong>Column:</strong>
  <%= @movie_ticket.column %>
</p>

<%= link_to 'Edit', edit_movie_ticket_path(@movie_ticket) %> |
<%= link_to 'Back', movie_tickets_path %>
