<p id="notice"><%= notice %></p>

<p>
  <strong>Función:</strong>
  <%= @movie_ticket.show_time_id %>
</p>

<p>
  <strong>Fila:</strong>
  <%= @movie_ticket.row %>
</p>

<p>
  <strong>Columna:</strong>
  <%= @movie_ticket.column %>
</p>

<%= link_to 'Editar', edit_movie_ticket_path(@movie_ticket), class: 'button' %>
<%= link_to 'Atrás', :back, class: 'button' %>
