<%= form_for @show_time, url:url, method:method do |form| %>
  <% if @show_time.errors.any? %>
      <article class="tile is-ancestor">
        <% @show_time.errors.messages.each do |_, messages| %>
          <% messages.each do |message| %>
            <article class="tile is-parent message is-danger">
              <div class="message-body">
                <%= message %>
              </div>
            </article>
          <% end %>
        <% end %>
      </article>
  <% end %>

  <div class="subtitle">
    <label class="label"><%= @show_time.movie.name %></label>
  </div>

  <div class="field">
    <%= form.label 'Fecha', class: 'label' %>
    <%= form.date_field :date, class: 'input' %>
  </div>

  <div class="field">
    <%= form.label 'Sala', class: 'label' %>
    <div class="select">
      <%= collection_select(:show_time, :room_id, Room.all, :id, :name,
        {:prompt => true}, {:required =>true }) %>
    </div>
  </div>

  <div class="field">
    <%= form.label 'Horario', class: 'label' %>
    <div class="select">
      <%= form.select(:when, [['matine', 'morning'], ['tanda', 'afternoon'], ['noche', 'evening']]) %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit method == :post ? 'Crear función' : 'Editar función', class: 'button' %>
  </div>
<% end %>
