<section class="section">
  <h1 class="title">Cartelera</h1>
  <% if @movie %>
  <%= link_to 'Agregar función',
                  new_movie_show_time_path(@movie),
                  class: 'button is-primary'%>
  <% end %>
</section>

<section class="section">
  <div class="container">

      <div class="box">
        <table class="table is-fullwidth" id="show-times">
          <thead>
            <tr>
              <th></th>
              <th>Pelicula</th>
              <th>Sala</th>
              <th>Fecha</th>
              <th>Función</th>
              <th colspan="4"></th>
            </tr>
          </thead>

          <tbody>
            <% @show_times.each do |show_time| %>
              <tr>
                <td>
                  <figure class="image is-128x128 is-1by1">
                    <img src="<%= (url_for(show_time.movie.image)) %>" />
                  </figure>
                </td>
                <td><%= show_time.movie.name %></td>
                <td><%= show_time.room_id %></td>
                <td><%= show_time.date %></td>
                <td><%= show_time.when_spanish.capitalize %></td>
                <td>
                <%=
                  link_to 'Seleccionar asientos',
                          select_tickets_show_time_path(show_time),
                          class: 'button is-primary'
                %>
                </td>
                <td><%= link_to 'Detalle', show_time, class: 'button' %></td>

                <td>
                  <%=
                    link_to 'Editar',
                            edit_show_time_path(show_time),
                            class: 'button'
                  %>
                </td>
                <td>
                  <%=
                    link_to 'Eliminar',
                            show_time,
                            method: :delete,
                            data: {
                              confirm: 'Estas seguro?',
                            },
                            class: 'button is-danger'
                  %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</section>
