<!DOCTYPE html>
<html>
  <head>
    <title>ProyectoB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%=
      stylesheet_link_tag 'application',
                          media: 'all',
                          'data-turbolinks-track': 'reload'
    %>
    <%= javascript_pack_tag 'application' %>
    <script
      src="https://kit.fontawesome.com/e4e58c1031.js"
      crossorigin="anonymous"
    ></script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <% if notice %>
      <section class="section">
        <aside class="container">
          <article id="notice" class="notification is-primary">
            <button
              id="notice-delete"
              class="delete"
              onclick="document.body.removeChild(this.parentNode)"
            ></button>
            <%= notice %>
          </article>
        </aside>
      </section>
    <% end %>
    <%= yield %>
  </body>
</html>
