<!DOCTYPE html>
<html>
  <head>
    <title>ProyectoB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%=
      stylesheet_link_tag 'application',
                          media: 'all',
                          'data-turbolinks-track': 'reload'
    %>
    <%= javascript_pack_tag 'application' %>
    <script
      src="https://kit.fontawesome.com/e4e58c1031.js"
      crossorigin="anonymous"
    ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <% if notice %>
      <div id="notice" class="notification is-primary">
        <button
          id="notice-delete"
          class="delete"
          onclick="document.body.removeChild(this.parentNode)"
        ></button>
        <%= notice %>
      </div>
    <% end %>

    <%= render 'shared/navbar' %>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
